@import "tailwindcss";
@theme {
    --color-primary: green;
    --color-secondary: gray;
    --color-accent: #f59e0b;
    --color-dark: #0f172a;
    --color-gray-dark: #1e293b;
}

@block {
    ----default-font-family-inter: [Inter, sans-serif];
}
